apps/n8n-workflows/cap-notify_slack.json
{
  "name": "org-ai Cap notify_slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cap-notify_slack",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cap-notify-slack-trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.body.channel }}"
        },
        "text": "={{ $json.body.text }}",
        "otherOptions": {}
      },
      "id": "post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [480, 300],
      "credentials": {
        "slackApi": { "name": "Slack API" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', error_type: null, message: 'Slackに投稿しました', data: { channel: $('Post to Slack').item.json.channel, ts: $('Post to Slack').item.json.ts } }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] },
    "Post to Slack": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null,
  "tags": ["org-ai", "capability", "slack"]
}
