apps/n8n-workflows/cap-create_google_slides.json
{
  "name": "org-ai Cap create_google_slides",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cap-create_google_slides",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cap-create-google-slides-trigger"
    },
    {
      "parameters": {
        "resource": "presentation",
        "operation": "create",
        "title": "={{ $json.body.title || 'org-ai プレゼンテーション' }}"
      },
      "id": "create-slides",
      "name": "Create Google Slides",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "googleSlidesOAuth2Api": { "name": "Google Slides OAuth2" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', error_type: null, message: 'Googleスライドを作成しました', data: { presentationId: $('Create Google Slides').item.json.presentationId, url: 'https://docs.google.com/presentation/d/' + $('Create Google Slides').item.json.presentationId + '/edit' } }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Create Google Slides", "type": "main", "index": 0 }]] },
    "Create Google Slides": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null,
  "tags": ["org-ai", "capability", "google-workspace"]
}
